#tab-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#warningMessage {
  display: flex;
  justify-content: center;
}

body {
  background-image: url('./assets/white-color-background.jpg');
  background-size: cover;
  background-position: center;
}