#root {
  align-items: center;
  text-align: center;
}

#profile_image {
  width: 450px;
  height: 500px;
}

#title {
  text-align: center;
  margin-top: 20px;
}

.concept_img {
  margin-top: 10px;
  width: 280px;
  height: 200px;
}

#test_list_core_concept {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.coreconcept_list_element {
  border: 1px solid black;
  margin: 20px;
  width: 300px;
}

li:hover {
  background-color: yellow;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  width: 150px;
  height: 150px; 
}

.profile-info {
  width: 500px;
}

.profile-info h2 {
  margin: 0;
  font-size: 1.5rem; /* Example font size */
}

.profile-info p {
  margin: 5px 0;
}